#!/bin/bash
set -me

SCRIPT_NAME=`basename "$0"`

echo "$SCRIPT_NAME: Starting solr in the foreground..."

/opt/solr/bin/solr start -f \
  {% if (flightdeck_debug | default(false) == true) or (lookup('env', 'ANSIBLE_VERBOSITY') | default(false, true)) %}-v{% endif %} \
  -m {{ flightdeck_solr.memory | default(flightdeck_solr_defaults.memory) }} \
  -p {{ flightdeck_solr.port | default(flightdeck_solr_defaults.port) }} \
  -h localhost
